.taskModal{
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    border-radius: 1%;
    background-color: #808F87;
}

.repeat{
    color: white;
}

.days{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

.repeatDays{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 20px;
}

.labelForTask{
    font-size: 20px;
}

.submit{
    position: absolute;
    width: 15%;
    height: 35px;
    bottom: 0;
    left: 42.5%;
    transform: 'translateX(-50%)';
    /* background-color: #22577A;
     */
     background-color: #FFD3BA;
    color: black;
    margin-bottom: 10px;
}

.sun, .mon, .tues, .wed, .thur, .fri, .sat{
    padding: 0 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    border-color: black;
    text-align: center;
}

.sun:hover, .mon:hover, .tues:hover, .wed:hover, .thur:hover, .fri:hover, .sat:hover{
    border: black;
}

.cancel{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
    background-color: red;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel:hover{
    background-color: lightcoral;
}

.taskInput{
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    margin-right: 5px; 
    color: white;
    text-align: center;
    width: 75%;
}

.title{
    font-size: 24px;
    color: white;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

#dropdownBtn[aria-labelledby = ddown] {
    max-width: 80px;
    border-radius: 0;
    margin: 0;
    
  }
