.taskModal{
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 1px solid red;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: lightgray;
}


.taskForm{
    background-color: orange;
    width: 25%;
    height: 25%;
    z-index: 0;
}

.taskModalText{
    color: orange;
}

.days{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.sun, .mon, .tues, .wed, .thur, .fri, .sat{
     padding: 0 0;
    display: inline-block;
    /* margin: 0 auto; */
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    border-color: black;
    background-color: white;
    text-align: center;
}
.cancel{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 0px;
    margin: 5px 5px;
    background-color: red;
    color: white;
}

.taskInput{
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    margin-right: 5px; 
    /* May remove margin-right later if I move the submit button */
}

#dropdownBtn[aria-labelledby = ddown] {
    background-color: red;
    color: orange;
    max-width: 80px;
    border-radius: 0;
    margin: 0;
  }