.deleteModal{
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 2px solid red;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
}

.verify{
    font-size: 20px;
}
.choice{
    display:flex;
    justify-content: space-evenly;
}

.taskContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 75%;
    min-height: 115px;
    background-color: #192A51;
}
  
.checkboxStyle {
    height: 35px !important;
    width: 35px !important;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
  
.taskName {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    color: white;
}
  
.time {
    /* align-self: flex-end; */
    /* margin-left: auto; */
    border: 1px solid #FF5964;
    border-radius: 5px;
    /* margin-right: 5px; */
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FF5964;
    color: white;
    width: 85px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
  
.sectionName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5158BB;
    color: white;
    margin-right: 10px;

}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
}